hacking<0.11,>=0.10.0
coverage>=3.6
discover
fixtures>=1.3.1
python-subunit>=0.0.18
sphinx>=1.1.2
oslosphinx
oslotest>=1.10.0
testrepository>=0.0.18
testscenarios>=0.4,<0.5
testtools>=1.4.0
mock>=1.2
mox>=0.5.3
